.footer__text {
  color: #545454;
  font-family: "Inter", Arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  margin-bottom: 60px;
  margin-top: 67px;
}

@media screen and (max-width: 350px) {
  .footer__text {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
