.header {
  margin-top: 45px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  margin: 0 0 41px 0;
}

.header__line {
  color: #545454;
  opacity: 0.7;
  border: 1px solid #545454;
  width: 100%;
}

@media screen and (max-width: 920px) {
  .header {
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 470px) {
  .header {
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 45px;
    max-width: 320px;
  }
}

@media screen and (max-width: 350px) {
}
