/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  margin-bottom: 41px;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- 430px --------------------------------- */

@media screen and (max-width: 430px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    width: 126px;
    margin-bottom: 32px;
    margin-left: 27px;
  }
}
