.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__heading {
  color: black;
  width: 330px;
  height: 23px;
  margin-left: 36px;
  margin-top: 34px;
  margin-bottom: 54px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input-name {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.2);
  max-width: 358px;
  max-height: 14px;
  margin-left: 36px;
  margin-right: 36px;
  padding-bottom: 13px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

.modal__input-description {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-color: rgba(0, 0, 0, 0.2);
  max-width: 358px;
  max-height: 14px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 29px;
  padding-bottom: 13px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

.modal__save-button {
  background-color: black;
  color: white;
  border-style: none;
  width: 358px;
  height: 50.15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.modal__save-button:hover {
  background: #000000;
  opacity: 0.8;
  border-radius: 2px;
  cursor: pointer;
}

.modal__close-button {
  background: transparent url(../images/close-Icon.svg) center no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .modal {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 123px;
  }

  .modal__container {
    width: 282px;
    height: 322px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .modal__heading {
    width: 238px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 75px 22px;
  }

  .modal__input-name {
    margin-left: 22px;
    margin-right: 22px;
  }

  .modal__input-description {
    margin-left: 22px;
    margin-right: 22px;
  }

  .modal__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }

  .modal__close-button {
    background-size: contain;
    width: 26px;
    height: 26px;
    top: -50px;
    right: 8px;
  }
}
